.cabecalho_header{
    background-color: blue;
    color: white;
    height: 70px;
}
.link{
float: left;
margin-top: 15px;
margin-left: 25rem;
}
.nome_loja{
    font-size: 1.5rem;
    font-weight: bolder;
}